<!DOCTYPE html>
<html>
<head>
  <title>AjaxMapsLab</title>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArbNUXQ8tCgdOxK6KeXNYL8aMX99iNb98&sensor=true">
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>  
</head>
<body>

  <%= yield %>
  
</body>
</html>